/* General classes*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

p {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: hsl(233, 8%, 62%);
}
h1,
h2 {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
}
h3 {
  font-size: 1em;
  font-weight: 700;
  color: hsl(233, 26%, 24%);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  text-align: center;
}
/* Layout*/

.overlay-visible {
  position: absolute;
  width: 375px;
  height: 800px;
  background-color: hsl(233, 26%, 24%, 0.8);

  z-index: 100;
}

.nav-bar-overlay-visible {
  margin: 1.5em 1.5em 4em 1.5em;

  padding: 0.5em 2em;
  list-style: none;
  background-color: whitesmoke;
  border-radius: 5px;
}
.nav-bar-overlay-visible li {
  padding: 1em;
  color: hsl(233, 26%, 24%);
  text-align: center;
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.container-header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: hsl(0, 0%, 100%);
  z-index: 3;
}
.nav-bar {
  display: none;
}
.nav-bar-overlay {
  display: none;
}
.top-btn {
  display: none;
}

.container-main {
  display: flex;
  flex-direction: column;
}
.container-main-text {
  order: 2;

  padding: 2em 2em 8em 2em;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
}
.container-main-img {
  height: 20em;
  order: 1;
}
.img-background {
  position: relative;
  width: 100%;
  top: -60px;
  z-index: -1;
  background-color: hsl(0, 0%, 98%);
}

.img-background-desktop {
  display: none;
}
.img-ontop {
  position: absolute;
  width: 95%;
  padding: 0 1em;
  height: 27em;
  top: -71px;
  left: 10px;
  z-index: 2;
  object-fit: fill;
}
.main-info {
  text-align: center;
  background-color: hsl(220, 16%, 96%);
  padding: 2em 2em 1px 2em;
}
.container-main-info {
  background-color: hsl(220, 16%, 96%);
  text-align: center;
  padding: 0 2em 3em 2em;
}

.icon-img {
  padding: 2em 0;
  background-color: hsl(0, 0%, 96%);
}
.latest-articles {
  padding: 1em;
  background-color: hsl(0, 0%, 98%);
}
.latest-articles-art {
  background-color: hsl(0, 0%, 100%);
}
.related-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  object-position: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: hsl(233, 26%, 24%);
  width: 100%;
  padding: 4em 1em;
}
.logo-footer {
  padding: 1em 6em;
}
.social-media {
  display: flex;
  justify-content: space-around;
  padding: 1em 4em;
}
.nav-bar-footer a {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  color: white;
  list-style: none;
  padding: 0.5em 3em;
  text-align: center;
}
.nav-bar-footer:last-child {
  padding-bottom: 2em;
}

/* typo*/

.subtitle {
  padding: 0 2em;
}

.info-text {
  font-size: 0.78rem;
  padding: 1em 3em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.subt-name {
  font-size: 0.8em;
  text-align: left;
  padding: 1em 3em;
}
.latest-articles-title {
  text-align: center;
  padding: 3em 0 1.5em 0;
}
.latest-art-title {
  font-weight: 300;
  padding: 0 2.5em;
}
.copyright {
  text-align: center;
}
/* hamburger btn*/

.hamburguer-bt {
  cursor: pointer;
  height: 25px;
  width: 25px;
  transition: all 0.2s ease-out;
}

.hamburguer-bt .hamburguer-bt__stripe {
  width: 100%;
  height: 2px;
  background: black;
  margin: 3px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}
/* hamburger btn auxiliary classes*/
.on-stripe-top {
  transform: rotate(45deg) translate(5px, 6px);
}

.on-stripe-middle {
  opacity: 0;
}

.on-stripe-bottom {
  transform: rotate(-45deg) translate(1px, -3px);
}
.request-btn-and-copyright {
  padding: 3em 1em 1em 2em;
}
.copyright {
  padding: 4em;
}
/* btns*/

.request-invite-btn {
  margin: 1em 4em;
  padding: 1em 1.5em;

  border-radius: 25px;
  color: white;
  background: linear-gradient(
    90deg,
    #31d35c,
    #31d467,
    #2fd583,
    #2ed7a9,
    #2dd8d1,
    #2bc3d9,
    #2bb7da
  );
  text-decoration: none;
}

@media (min-width: 432px) and (max-width: 1439px) {
  .img-ontop {
    display: none;
  }
}
@media (min-width: 1440px) and (max-width: 1445px) {
  /* hover-focus states*/
  a:hover,
  a:focus {
    border-bottom: 2px solid #31d467;
  }
  .request-invite-btn:hover,
  .request-invite-btn:focus {
    opacity: 0.7;
  }

  /* layout*/
  body {
    width: 1440px;
  }
  .container {
    min-width: 1440px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 4em;
  }
  .hamburguer-bt {
    display: none;
  }
  .img-logo {
    margin-left: 3em;
  }
  .nav-bar {
    display: flex;
    padding: 0 1em;
    margin-left: 20em;
    padding-bottom: 0em;
  }

  .nav-bar li {
    padding: 0 1em;
  }
  .nav-bar a {
    color: hsl(233, 8%, 62%);
    padding-bottom: 3em;
  }
  .request-invite-btn {
    display: block;

    margin: 1em 4em;
  }

  .container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 7em;
    background-color: hsl(0, 0%, 98%);
  }
  .container-main-bt {
    margin: 0 6em;
  }

  .container-main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 38%;
    order: 1;
    padding: 5em 2em 8em 2em;
    margin: -0.5em;
    text-align: left;
  }

  .title {
    padding: 0em 0.375em 1em 2em;
    font-size: 3rem;
  }
  .info-text {
    padding: 0em 5.375em 0 8em;
  }

  .container-main-img {
    width: 60%;
    order: 2;
  }
  .img-background {
    display: none;
  }
  .img-background-desktop {
    display: flex;
    width: 70em;
    height: 64em;
    overflow: hidden;
    margin-top: -17em;
    margin-left: 9em;
  }

  .img-ontop {
    width: 41em;
    height: 55em;
    padding: 0 1em;
    top: -2em;
    left: 56em;
    z-index: 2;
  }
  .main-info {
    text-align: left;
    padding: 1em 0;
    margin: 0;
  }
  .container-main-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em 0;
  }
  .subtitle {
    padding: 2em 3em;
    font-size: 2rem;
  }

  .main-info-with-img {
    text-align: left;
  }

  .icon-img,
  h3 {
    padding-left: 6em;
  }
  h3 {
    padding-bottom: 2em;
  }
  .new-info-text {
    padding-left: 8em;
    padding-right: 72em;
  }
  .latest-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em 0;
  }
  .latest-articles-title {
    text-align: left;
    padding: 2em 3em;
    font-size: 2rem;
    background-color: hsl(0, 0%, 98%);
  }
  .latest-articles-art {
    display: flex;
    flex-direction: column;
  }
  .related-img {
    width: 100%;
    height: 15em;
    object-fit: cover;
    object-position: center;
    padding: 1em 1em;
  }
  .latest-articles-art:first-child {
    padding-left: 5em;
  }
  .latest-articles-art:last-child {
    padding-right: 3em;
  }
  .info-text-for-media-q {
    padding: 1em 3em;
  }
  .footer-media {
    margin: 0;
    padding: 0;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .logo-footer {
    padding: 7em 6em 1em 6em;
  }
  .nav-bar-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 4em 4em;
    align-items: center;
    align-content: space-between;
  }
  .nav-bar-footer-media {
    padding: 2em 0;
  }
  .nav-bar-footer li {
    padding: 0;
  }

  .nav-bar-footer a {
    width: 15em;
    margin: 0;
    text-align: left;
  }
  .btn-footer {
    margin: 3em;
    padding: 1em 7em;
  }
}
